<!DOCTYPE html>
<html>
<head>
  <title>Rekrutacja</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="main_wrapper">
  <%= yield %>
</div>


</body>
</html>
